<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid</title>
    <title>JAX-RS SymbiosArt Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/theme.min.css"/>
    <link rel="stylesheet" href="resources/symbiosart.css"/>
    <script src="resources/jquery-2.1.4.min.js"></script>
    <script src="resources/angular.min.js"></script>
    <script src="resources/angular-resource.min.js"></script>
    <script src="resources/symbiosart.js"></script>
</head>
<body ng-app="symbiosart" ng-controller="MainCtrl as ctrl">

<ul class="rig columns-4">
    <li ng-repeat="img in ctrl.displayedImages track by $index">
        <div><img src="{{img.url}}" title="{{img.tags}}"/></div>
        <button class="btn btn-default" ng-click="ctrl.like(img)">Like</button>
        <button class="btn btn-default" ng-click="ctrl.dislike(img)">Dislike</button>
    </li>
</ul>
</body>
</html>